.wrapper * {
    cursor: pointer;
}

.labelWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.labelWrapper * {
    display: inline-block;
}

.checkbox {
    display: none;
}

.checkmark {
    width: 15px;
    height: 15px;
    background-color: var(--background);
    border: 1px solid var(--gray);
    margin-right: 10px;
    border-radius: 3px;
    transition-duration: 0.1s;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
}

.checkbox:checked ~ .checkmark {
    background-color: var(--orange);
    border: none;
}

.checkbox ~ .checkmark span {
    display: block;
    transition-duration: 0.1s;
    transform: rotate(135deg) translate(-0.5px, 0.5px);
}

.checkbox:checked ~ .checkmark span {
    border: 2px solid var(--white);
    border-width: 2px 2px 0 0;
    border-radius: 1px;
    width: 10px;
    height: 5px;
}

.label {
    font-size: var(--small);
    font-weight: bold;
}
