.wrapper {
    top: 0;
    position: absolute;
    z-index: 1000;
    width: 100%;
    backdrop-filter: grayscale(1) blur(15px);
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    --h-padding: min(10%, 30px);
    --v-padding: 10px;
    padding: var(--v-padding) var(--h-padding);
    transition-duration: 0.5s;
    transition-property: background-color;
    background-color: var(--translucent);
}

.logo {
    object-fit: contain;
    object-position: left center;
}

.toggler {
    cursor: pointer;
    display: none;
    margin: 10px 0;
    border: none;
    outline: none;
    background-color: transparent;
}

.toggler span {
    display: block;
    height: 2px;
    width: 24px;
    border-radius: 1px;
    background: var(--text-color);
    margin: 5px 0;
    transition-duration: 0.2s;
    transform-origin: 50% 50%;
}

.open .toggler span:nth-child(1) {
    transform: rotate(45deg) translate(3px, 7px);
}

.open .toggler span:nth-child(3) {
    transform: rotate(-45deg) translate(3px, -7px);
}

.open .toggler span:nth-child(2) {
    width: 0;
}

.content {
    padding: 0;
    margin: 0;
    margin-left: 20px;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex: 1;
}

.content>* {
    flex: 0;
}

.space {
    flex: 0;
}

.trailing {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: wrap;
    align-items: center;
}

.buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.active {
    color: var(--primary-color);
}

@media (max-width: 768px) {

    .content {
        flex-basis: 100%;
        height: 0;
        margin-left: 0;
        transition-duration: inherit;
        transition-property: height padding;
        transition-timing-function: ease-in-out;
        overflow: hidden;
        flex-direction: column;
        justify-content: flex-start;
    }

    .content>* {
        margin: 0 auto;
        min-width: fit-content;
        width: 50%;
    }

    .trailing {
        flex: 0;
        justify-content: center;
    }

    .space {
        flex: 0;
    }

    .open .content {
        flex-grow: 1;
        padding-top: 20px;
        height: 100vh;
    }

    .toggler {
        display: block;
    }

    .buttons {
        position: absolute;
        right: var(--h-padding);
        top: var(--v-padding);
    }

}

.body {
    padding-top: 75px;
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden scroll;
    transform: translate3d(0px, 0px, 0px);
    top: 0px;
    left: 0px;
}