.page {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    width: 100vw;
    padding: 0 50px;
}

.backgroundImage {
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.contentWrapper {
    height: min-content;
    width: min(100vw, 650px);
    background-color: var(--background);
    z-index: 100;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: var(--translucent) 0px 7px 29px 0px;
    padding: 5% 10%;
    position: relative;
}

.logo {
    object-fit: contain;
    align-self: center;
    margin: 50px auto;
    display: none;
}

.title {
    margin-bottom: 10px;
}

.subtitle {
    margin-top: 10px;
    color: var(--gray);
}

.content {
    width: min(90%, 23rem);
    min-width: min-content;
}

.content form > * {
    width: 100%;
    margin: 10px 0;
}

.indented {
    display: flex;
    flex-direction: column;
}

.indented > * {
    flex: 1;
}

.indented, .hint {
    margin: 15px 0!important;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.row > *:nth-child(1) {
    margin-right: 10px;
}

.row > * {
    padding: 5px 0;
}

.row > *:not(:last-child) {
    margin-right: 5px!important;
}

.row > a:last-child {
    text-align: right;
}

.googleLogo {
    margin-right: 10px;
}

.hint {
    display: block;
    color: var(--gray);
    font-size: var(--small);
    text-align: center;
}

.languageTogglerWrapper {
    position: absolute;
    top: 5%;
    right: 10%;
}

@media (max-width: 992px) {
    .page {
        padding: 0;
    }

    .contentWrapper {
        width: 100vw;
        height: 100vh;
        min-height: max-content;
        border-radius: 0;
        padding-top: 0;
        justify-content: flex-start;
        box-shadow: none;
    }

    .content {
        padding-bottom: 100px;
    }

    .logo {
        display: block;
    }

    .title, .subtitle {
        text-align: center;
    }

    .row {
        flex-direction: column;
    }

    .row > *:not(:last-child) {
        margin-right: 0!important;
    }

    .backgroundImage {
        display: none;
    }

    .row > a:last-child {
        text-align: left;
        margin-top: 10px;
    }
}