html {
  --orange: #ff6800;
  --orange-light: #ffaa00;
  --green: #00cc00;
  --blue: #061198;
  --alert: #ff0000;

  --orange-translucent: #ff680055;
  --orange-light-translucent: #ffaa0055;
  --green-translucent: #00cc0055;
  --blue-translucent: #06119855;
  --alert-translucent: #ff000033;

  --alert-text: #8a0f1b;

  --gray: #828282;
  --white: #fff;

  --background: #f8f8f8;
  --text-color: #202020;
  --shadow-color: #4f4f4f77;
  --translucent: #ffffff99;
  --primary-color: var(--orange);

  --small: 12px;
}

body {
  padding: 0;
  margin: 0;
  --fonts: Gilroy, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-family: var(--fonts);
  background-color: var(--background);
  color: var(--text-color);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: var(--fonts);
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
    --text-color: #f8f8f8;
    --background: #202020;
    --translucent: #4f4f4f99;
    --shadow-color: #ffffff77;
    --primary-color: var(--orange-light);
  }
}
