.page {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    padding: 0 50px;
}

.backgroundImage {
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.content {
    height: min(100vh, 600px);
    width: min(100vw, 650px);
    background-color: var(--background);
    z-index: 100;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    box-shadow: 0 0 0 15px linear-gradient(black, red);
    padding: 10%;
}

.logo {
    object-fit: contain;
    align-self: center;
    display: none;
}

@media (max-width: 992px) {
    .page {
        padding: 0;
    }

    .content {
        width: 100%;
        height: 100vh;
        border-radius: 0;
    }

    .logo {
        display: block;
    }
}