.title {
    font-size: clamp(1rem, 10vw, 7rem);
    text-align: center;
    width: clamp(90%, 700px, 70%);
    display: block;
    line-height: min(17vh, 20vw);
}

.gradientHighlight {
    background: linear-gradient(-45deg, var(--green), var(--blue));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.indentedLayer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: min(90%, 50rem);
    height: min-content;
    margin: auto;
    padding: 20px;
    box-shadow: 0 0 50px 50px var(--translucent);
    border-radius: 50px;
}
